<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Student Dashboard</title>
  <link rel="stylesheet" href="/css/student/updateStudent.css">
       <!--<link rel="stylesheet" href="/css/admin/dashboardContent.css"> -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
	
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="profile">
                <img id="profileImg" th:src="${studImg != null ? studImg : '/images/admin/human.png'}" alt="Profile">
                <div>
                    <h3>Hi, <span id="studName" th:text="${username}"></span></h3>
                    <p style="font-size: 10px;" id="studEmail" th:text="${email}"></p>
                </div>
            </div>
            <ul class="menu">             
                <li ><a data-href="/student/dashboard" data-page="dashboard" class="menu-item"><span class="sub-menu"><img src="/images/admin/dash.png" alt="dashboard" width="20px"> Dashboard</span></a></li>
                <li class="submenu">
                  <div class="sub-menu"><img src="/images/student/attend.png" alt="Attendance" width="20px"> Attendance <img src="/images/admin/arrow2.png" alt="arrow" id="i" class="images" width="20px"></div>
                    <ul class="submenu-items">                      
                        <li><a data-href="/student/subjects" data-page="paper"  class="menu-item" style="font-size:15px;"><img src="/images/professor/create.png" alt="AddIcon" width="15px"> Paper</a></li>
                        <!-- <li><a data-href="/student/viewAttendance"  data-page="viewAttendance" class="menu-item" style="font-size:14px;"><img  src="/images/admin/status.png" alt="EditIcon" width="13px"> View Attendance</a></li>-->
                        <li><a data-href="/student/attendance"  data-page="viewingAttendance" class="menu-item" style="font-size:14px;"><img  src="/images/admin/status.png" alt="EditIcon" width="13px">Attendance</a></li>
                    </ul>
                </li>                  
               <li><a data-href="/student/department"  data-page="oldStudent" class="menu-item"><span class="sub-menu"><img  src="/images/student/dept.png" alt="holiday" width="20px" > Department</span></a></li>  
                <li><a data-href="/student/updateStudent"  data-page="updateStudent" class="menu-item"><span class="sub-menu"><img  src="/images/professor/update.png" alt="Update" width="20px"> Update Profile</span></a></li>              
            </ul>
        </div>
        <!-- Main Content -->
        <div class="main">
            <div class="header">
                <h1>Welcome, <span id="regNo" class="admin-name" th:text="${regNo}"></span></h1>
                <form action="/logout" method="POST">
				    <button type="submit" class="logout">
				        <img src="/images/admin/power.png" alt="power" width="30px">
				    </button>
				</form>
            </div>
            <div id="content" >
                 <!--  <h2>Main Content START</h2>-->
              	<form id="updateForm" th:object="${student}" class="container2" novalidate>
			    <div>
			      <h2>Personal Info</h2>
			      <div class="form-group">
			        <label for="name">Name:</label>
			        <input id="name" type="text" name="name" th:field="*{name}" placeholder="Name">
			       <div id="nameError" class="error-message"></div>
			         <label for="email">Email:</label>
			         <input id="email" type="email" name="email" th:field="*{email}" placeholder="Email" disabled>
			         <div id="emailError" class="error-message"></div>
					<label for="gender">Gender:</label>
			        <select id="gender" th:field="*{gender}"name="gender" >
			          <option value=" " disabled selected>Gender</option>
			          <option value="Male">Male</option>
			          <option value="Female">Female</option>		          
			        </select>
			        <div id="genderError" class="error-message"></div>
					<label for="dob">DOB:</label>
			        <input id="dob" type="date" th:field="*{dob}" name="dob" >
			        <div id="dobError" class="error-message"></div>
					<label for="age">Age:</label>
			        <input type="text" name="age" id="age" th:field="*{age}" placeholder="Age" readonly>
					<label for="age">Phone:</label>
			        <input id="phone" type="number" th:field="*{phone}"name="phone" placeholder="Mobile Number">
			         <div id="phoneError" class="error-message"></div>
					<label for="address">Address:</label>
			        <textarea id="address"name="address" th:field="*{address}"placeholder="Address"></textarea>
			        <div id="addressError" class="error-message"></div>
			      </div>
			    </div>
			
			    <div>
			      <h2>Academic Info</h2>
			      <div class="form-group">
			      	<label for="regNo">RegNo:</label>
			      	<input type="text" name="regNo" th:field="*{regNo}"placeholder="Reg No" readonly> 
			        <div class="error-msg" id="regNo-error"></div>			      	
			       <label for="department">Department:</label>
			        <input type="text" name="department" th:field="*{department.deptName}" placeholder="department" readonly>
			        <div class="error-msg" id="department-error"></div>
			
			        <label for="batch">Batch:</label>
			          <input type="text"  th:field="*{batch}" name="batch" placeholder="batch" readonly>
			        <div class="error-msg" id="batch-error"></div>
			          <label for="mentor">Mentor:</label>
			         <input type="text" name="mentor" th:field="*{mentor.name}" placeholder="mentor" readonly>
			        <div class="error-msg" id="mentor-error"></div>
						<label for="joinDate">Joined Date:</label>
			          <input type="text" name="joinDate" th:field="*{joinDate}" placeholder="Join Date (Date of Admission)" readonly>
			       <!-- <div class="note">Note: If you know the exact date of admission, please provide it. Otherwise, you may leave this field blank.</div> -->
			
			        <input type="file" name="image" id="imageInput" accept="image/*">

			      </div>
			    </div>
			
			    <div>
			      <h2>Image Preview</h2>
			      <div class="form-group">
			      	<div class="image-preview-container">
					  <img id="imagePreview" src="/images/admin/human.png" alt="Image Preview">
					</div>
			      
					       

			
			        <button type="submit" class="submit-btn">Update</button>
			      </div>
			    </div>
			  </form>
				
				
				

                
		        
		       <!--<h2>Main Content END</h2> -->
		     </div>
        </div>
    </div> 
    
    



    <script type="text/javascript" src="/js/student/updateStudent.js"></script>	
</body>
</html>