<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Professor</title>
<link rel="stylesheet" href="/css/admin/addProfessor.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
	<!-- <div th:fragment="content"></div> -->
	 <div class="professor-form-container">
        <div class="form-card">
            <img src="/images/admin/prof.png" alt="Professor Icon" class="professor-icon">
            <form id="addProfessorForm">
                <label for="professorName">Professor Name</label>
                <input type="text" id="professorName" name="professorName" placeholder="Enter the Professor Name" >
                <div id="professorNameError" class="error-message"></div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter the Email" >
                <div id="professorEmailError" class="error-message"></div>
                <label for="professorRole">Role</label>
                <select name="professorRole" id="professorRole">
                    <option value="PROF-">Professor</option>
                    <option value="HOD-">HOD</option>
                </select>
                <div id="professorRoleError" class="error-message"></div>
                <label for="professorId">Professor ID</label>
                <input type="text" id="professorId" name="professorId" placeholder="Enter the Professor ID" readonly >
                <div id="professorIdError" class="error-message"></div>
                <button type="submit" class="submit-btn">ADD</button>
            </form>
        </div>
    </div>
   
	<script type="text/javascript" src="/js/admin/addProfessor.js"></script>
</body>
</html>