<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit Student</title>
<link rel="stylesheet" href="/css/admin/editStudent.css">
</head>
<body>
	<div style="margin: 25px;">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>RegNo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Dept</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>23ITOO0</td>
                    <td>tester</td>
                    <td>abdullah@gmail.com</td>
                    <td>MCA</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--  <script type="text/javascript" src="/js/admin/editStudent.js"></script>-->
</body>
</html>