<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editing Professor</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/css/admin/editProfessor.css">
</head>
<body>
	<div style="margin: 25px;">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>PROF-A8</td>
                    <td>Abdullah</td>
                    <td>abdullah@gmail.com</td>
                    <td>Professor</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
                <tr>
                    <td>HOD-A4</td>
                    <td>Adam</td>
                    <td>adam@gmail.com</td>
                    <td>HOD</td>
                    <td>12-12-1212</td>
                    <td><img src="/images/admin/editingcon.png" alt="Editing Icon" width="20px">   <img src="/images/admin/deletingicon.png" alt="Delete Icon" width="20px"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--  <script type="text/javascript" src="/js/admin/editProfessor.js"></script>-->
</body>
</html>